body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background: linear-gradient(deeppink, blue);
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

div:hover{
    transform: scale(2, 2) rotate(40deg);
}