#contact-information{
    display: flex;
    justify-content: center;
}

#contact-information div {
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 2rem;
    text-align: center;
}

a {text-decoration: none; color: black;}

h2:target::after{
    background-color: yellow;
    padding: .5rem;
    text-align: center;
    font-size: 0.5rem;
    content: "SELECTED";
    margin-left: 5px;
}

#contact-information div:hover{
    border: 1px solid black;
    background-color: gold;
}