body{
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, blue, deeppink);
    font-family: quicksand, sans-serif;
    background-size: 400% 400%;
    animation: gradiente infinite 5s ease-in-out alternate;
}

h1{
    font-family: pacifico, cursive;
    font-size: 5rem;
    margin: 0;
    background: linear-gradient(0deg, transparent, black);
}

@keyframes gradiente {
    0%{
        background-position: 0% 50%;
    }
    20%{
        background-position: 100% 50%;
    }
    40%{
        background-position: 100% 100%;
    }
    60%{
        background-position: 100% 50%;
    }
    80%{
        background-position: 0% 100%;
    }
    100%{
        background-position: contain;
    }
}

@font-face {
    font-family: quicksand;
    src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: pacifico;
    src: url('/assets/fonts/Pacifico-Regular.ttf');
}